* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::after,
::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  font-family: 'Montserrat Alternates', Arial, Helvetica, sans-serif;
}

.modal {
  display: none;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 400;
  background-color: rgba(0, 0, 0, 0.1);
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 300px;
  height: 120px;
  border: 1px solid rgb(224, 103, 103);
  background-color: rgba(224, 103, 103, 0.103);
  border-radius: 12px;
  font-size: 1.2rem;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

:active,
:hover,
:focus {
  outline: none;
}

button,
select,
input {
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.header {
  height: 80px;
  padding: 20px 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgba(197, 191, 191, 0.562);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__inner {
  display: flex;
  justify-content: flex-end;
  max-width: 1200px;
}

.header__btn {
  border: none;
  background: transparent;
  width: 100px;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__btn_logout {
  display: none;
}

.header__icon {
  width: 24px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: top;
  object-position: top;
}

.header__btn_login .header__icon {
  margin-right: 10px;
}

.header__btn_logout .header__icon {
  margin-left: 10px;
}

.form-auth {
  width: 50%;
  border-radius: 12px;
  border: 1px solid rgb(247, 241, 241);
  margin-top: 15vh;
  padding: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 1s;
  position: relative;
}

.form-auth:hover {
  background-color: rgba(235, 241, 250, 0.329);
  box-shadow: 2px 2px 8px rgba(165, 167, 170, 0.548);
}

.form-auth__close {
  border: none;
  background: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
}

.form-auth__close-icon {
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

.form-auth__title {
  font-size: 2rem;
  margin-bottom: 40px;
  color: rgb(67, 53, 80);
  position: relative;
}

.form-auth__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
}

.form-auth__item_chek {
  justify-content: space-between;
}

.form-auth__item:last-child {
  margin-bottom: 0;
}

.form-auth__input {
  border: 1px solid rgb(160, 157, 157);
  border-radius: 2px;
  padding: 5px;
  width: 100%;
  height: 45px;
  font-size: 1rem;
  color: rgb(161, 153, 153);
}

.form-auth__input:invalid {
  border: 1px solid rgb(224, 103, 103);
  background-color: rgba(224, 103, 103, 0.103);
}

.form-auth__input:invalid::-webkit-input-placeholder {
  color: rgb(224, 103, 103);
}

.form-auth__input:invalid::-moz-placeholder {
  color: rgb(224, 103, 103);
}

.form-auth__input:invalid:-ms-input-placeholder {
  color: rgb(224, 103, 103);
}

.form-auth__input:invalid::-ms-input-placeholder {
  color: rgb(224, 103, 103);
}

.form-auth__input:invalid::placeholder {
  color: rgb(224, 103, 103);
}

.form-auth__input:hover {
  background-color: rgba(205, 217, 230, 0.281);
}

.form-auth__input:focus {
  background-color: rgba(169, 198, 230, 0.281);
}

.form-auth__input:active {
  background-color: rgba(169, 198, 230, 0.281);
}

.form-auth__input::-webkit-input-placeholder {
  font-family: 'Montserrat Alternates', Arial, Helvetica, sans-serif;
  color: rgb(177, 173, 173);
}

.form-auth__input::-moz-placeholder {
  font-family: 'Montserrat Alternates', Arial, Helvetica, sans-serif;
  color: rgb(177, 173, 173);
}

.form-auth__input:-ms-input-placeholder {
  font-family: 'Montserrat Alternates', Arial, Helvetica, sans-serif;
  color: rgb(177, 173, 173);
}

.form-auth__input::-ms-input-placeholder {
  font-family: 'Montserrat Alternates', Arial, Helvetica, sans-serif;
  color: rgb(177, 173, 173);
}

.form-auth__input::placeholder {
  font-family: 'Montserrat Alternates', Arial, Helvetica, sans-serif;
  color: rgb(177, 173, 173);
}

#remember {
  width: auto;
  margin-left: 20px;
  opacity: 0;
}

.form-auth__chek {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form-auth__label {
  font-size: 0.8rem;
  color: rgb(119, 115, 115);
  position: relative;
}

.form-auth__label::before {
  content: '';
  width: 18px;
  height: 18px;
  border-radius: 3px;
  border: 1px solid rgb(160, 157, 157);
  position: absolute;
  left: -32px;
  top: 0;
}

#remember:checked + .form-auth__label::before {
  content: url('./img/checked.svg');
  background-color: rgba(197, 191, 191, 0.562);
}

.form-auth__link {
  font-size: 0.8rem;
  color: rgb(119, 115, 115);
  text-decoration: underline;
}

.form-auth__link:hover {
  color: rgb(67, 53, 80);
}

#send {
  width: 60%;
  font-size: 1rem;
  border: none;
  background: linear-gradient(45deg, rgb(67, 53, 80), rgb(206, 182, 236));
  border-radius: 20px;
  color: white;
}

#send:hover {
  background: rgb(67, 53, 80);
}

@media screen and (max-width: 760px) {
  html {
    font-size: 14px;
  }

  .form-auth__title {
    font-size: 1.5rem;
  }

  .form-auth__item_chek {
    flex-direction: column;
    align-items: flex-end;
  }

  .form-auth__label {
    margin-bottom: 20px;
  }

  .form-auth__input::-webkit-input-placeholder {
    font-size: 0.8rem;
  }

  .form-auth__input::-moz-placeholder {
    font-size: 0.8rem;
  }

  .form-auth__input:-ms-input-placeholder {
    font-size: 0.8rem;
  }

  .form-auth__input::-ms-input-placeholder {
    font-size: 0.8rem;
  }

  .form-auth__input::placeholder {
    font-size: 0.8rem;
  }

  .form-auth__label::before {
    top: -3px;
    left: -27px;
  }

  #send {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .form-auth__title {
    font-size: 1.2rem;
  }

  .form-auth__input {
    height: 30px;
  }

  .form-auth__input::-webkit-input-placeholder {
    font-size: 0.7rem;
  }

  .form-auth__input::-moz-placeholder {
    font-size: 0.7rem;
  }

  .form-auth__input:-ms-input-placeholder {
    font-size: 0.7rem;
  }

  .form-auth__input::-ms-input-placeholder {
    font-size: 0.7rem;
  }

  .form-auth__input::placeholder {
    font-size: 0.7rem;
  }

  .form-auth__item_chek {
    align-items: center;
  }

  .form-auth__label::before {
    left: -26px;
  }

  #send {
    width: 100%;
  }
}

@media screen and (max-width: 368px) {
  .form-auth__input::-webkit-input-placeholder {
    font-size: 0.55rem;
  }
  .form-auth__input::-moz-placeholder {
    font-size: 0.55rem;
  }
  .form-auth__input:-ms-input-placeholder {
    font-size: 0.55rem;
  }
  .form-auth__input::-ms-input-placeholder {
    font-size: 0.55rem;
  }
  .form-auth__input::placeholder {
    font-size: 0.55rem;
  }
}
